header {
    position: fixed;

    left: 0;
    right: 0;
    top: 0;

    z-index: $zindex-header;

    background-color: $color-secondary;

    .control-menu {
        display: inline-block;

        &__item {
            display: inline-block;
        }
    }
}