header {
    position: relative;

    left: 0;
    right: 0;
    top: 0;

    z-index: $zindex-header;

    background-color: $bg-color-mute;

    .control-menu {
        display: inline-block;
    }
}