.btn {
    display: inline-block;
    
    padding: 1em;

    min-width: 115px;

    cursor: pointer;

    position: relative;

    transition: all .5s ease;

    color: $color-main;
    
    &:after {
        content: "";

        top: 0;
        left: 0;
        right: 0;
        
        width: 0;
        height: 2px;

        position: absolute;

        background-color: $color-main;

        transition: background-color .3s ease .15s, width .3s ease;
    }

    &:hover,
    &.active,
    &.is-open {
        color: $color-light;

        &:after {
            width: 100%;

            background-color: $color-light;
        }
    }

    &.disabled,
    &[disabled] {
        color: $color-mute;

        &:hover,
        &.active,
        &.is-open {
            color: $color-mute;
        }

        &:after {
            width: 0;
        }
    }

    &_primary {
        background-color: $bg-color-mute;

        &:hover,
        &.active,
        &.is-open {
            background-color: $bg-color-light;
            
            &:after {
                background-color: $color-light;
            }
        }

        &.disabled,
        &[disabled] {
            &:hover,
            &.active,
            &.is-open {
                background-color: $bg-color-mute;
            }
        }
    }

    &_secondary {
        &:after {
            top: auto;

            bottom: 0;

            height: 1px;
        }
    }

    &-group {
        display: inline-block;

        > .btn {
            background-color: transparent;

            padding: .5em;

            border: 1px solid $color-main;
            
            &:hover,
            &.active,
            &.is-open {
                background-color: $bg-color-light;

                border-color: $color-light;
            }

            &:after {
                content: none;
            }

            &:first-child {
                border-bottom-left-radius: 2em;
                border-top-left-radius: 2em;

                border-right: none;
            }

            &:last-child {
                border-bottom-right-radius: 2em;
                border-top-right-radius: 2em;

                border-left: none;
            }
        }
    }
}
