.chart {
    path:first-child {
        opacity: 1 !important;
    }

    .yaxis {
        path {
            stroke: $color-light !important;
            stroke-width: 2px !important;
        }
    }

    line {
        stroke: $color-light !important;
    }

    .tick {
        text {
            fill: $color-main !important;
        }
    }

    g:not(.tick) {
        
        > text {
            stroke-width: 0 !important;

            font-size: 13px !important;
            font-weight: 600 !important;

            transform: translateY(-3px) !important;
        }

        > circle {
            stroke-width: 2px !important;
            fill: $bg-color-main !important;
        }
    }
}

.legend-wrap {
    > button {
        > .marker {
            width: 20px;
            height: 20px;

            border: 2px solid;
            border-radius: 50%;

            display: inline-block;

            position: relative;

            vertical-align: top;

            &:before {
                content: "";

                position: absolute;

                width: 12px;
                height: 12px;

                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                margin: auto;

                border-radius: 50%;

                opacity: 1;

                transition: opacity .3s ease;
            }
        }

        &.x {
            > .marker {
                border-color: #3bff00;

                &:before {
                    background-color: #3bff00;
                }
            }
        }

        &.y {
            > .marker {
                border-color: #ffff00;

                &:before {
                    background-color: #ffff00;
                }
            }
        }

        &.z {
            > .marker {
                border-color: #dc082e;

                &:before {
                    background-color: #dc082e;
                }
            }
        }

        &.off {
           > .marker {
               &:before {
                   opacity: 0;
               }
           }
        }

        > .label {
            display: inline-block;

            color: $color-main;

            transition: color .3s ease;

            line-height: 20px;

            vertical-align: top;

            margin-left: .5em;
        }

        &.on {
            > .label {
                color: $color-light;
            }
        }
    }
}