.table {
    width: 100%;
    text-transform: capitalize;

    margin-bottom: .5em;

    > .table-header {
        display: block;

        width: 100%;

        text-align: center;

        background-color: $bg-color-mute;

        padding: .4em;
    }

    > .table-body {
        width: 100%;

        display: table;
        table-layout: fixed;

        background-color: $bg-color-dark;

        .column {
            display: table-cell;

            border: 1px solid $bg-color-main;

            border-left: 0;

            &:last-child {
                border-right: 0;
            }
        }
        
        .row {
            display: table;
            table-layout: fixed;

            width: 100%;

            padding: 0 .4em .4em;

            &:first-child {
                padding-top: 0.4em;
            }

            &.no-space {
                padding: 0;
            }

            &.no-bottom {
                padding-bottom: 0;
            }
         }

         .cell {
            display: table-cell;
            
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            height: 100%;

            &:not(input) {
                padding: 0 .4em;
            }

            &.no-space {
                padding: 0;
            }

            > * {
                display: block;
                width: 100%;
            }
        }
    }
}