html {
    height: 100%;

    > body {
        height: 100%;

        > #content-overlay {
            height: 100%;

            display: flex;
            flex-direction: column;

            > .content {
                height: 100%;

                padding: 3em 2em;

                overflow: hidden;
            }
        }
    }
}

body {
    overflow: hidden;

    font: 16px $font-primary;
    font-weight: 300;
    color: $color-main;
}

#content-overlay {
    background-color: $bg-color-main;
}
