.right {
    float: right;
}

.control-menu {
    display: inline-block;
}

.single-label {
    display: inline-block;
    
    margin: .5em 1em;

    &:first-child {
        margin-left: 0;
    }
}

.flex-container-row {
    display: flex;

    flex-direction: row;
    
    margin-top: 3em;

}
